{% extends 'inventory/base.html' %}

{% block content %}

<div class="page-header">
  <h3 class="page-title"> Ingredients </h3>
  <nav aria-label="breadcrumb">

  </nav>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredient_list %}
            <tr>
              <td>{{ ingredient.name }}</td>
              <td>{{ ingredient.price }}</td>
              <td>{{ ingredient.unit }}</td>
              <td>{{ ingredient.quantity }}</td>
              <td>{{ ingredient.cost }}</td>
              <td><a href="{% url 'ingredient_update' ingredient.pk %}">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}