{% extends 'inventory/base.html' %}

{% block content %}

<div class="page-header">
    <h3 class="page-title"> Add purchase </h3>
</div>

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Create Purchase</button>
                </form>
                {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}